* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(Jetty.jpg);
  background-size: cover;
  background-position: centers;
  background-repeat: no-repeat;
  font-family: serif;
}
.menu-bar {
  background: rgb(21, 136, 142);
  text-align: center;
}
.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: #fff;
}
.menu-bar ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}

.menu-bar ul li a {
  text-decoration: none;
  color: #fff;
}

/* div center */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
